.drag{
    width: auto;
    height:auto;
    z-index:128;
    position:absolute !important;
    top:0;
    left:0;
    color:black;
    right:auto;
    bottom:auto;
    cursor: grab;
}
.curent{
    border: 1px solid red;
}
.close{
    position:absolute;
    top:-1px;
    right:-30px;
    background-color:rgb(190,37,10);
    border:1px solid rgb(145,28,7);
}
.number{
    position:absolute;
    top:-1px;
    left:-34px;
    background-color:rgb(190,37,10);
    border:1px solid rgb(145,28,7);
    line-height:1.2em;
}
.toText{
    position:relative;
    left:0;
    right:0;
    top:0;
    bottom:0;
}