#left-option-ph{
    #border: 1px solid lime;
    width:20em;
    height:53.3em;
    position:absolute;
    left:0em;
}
#right-option-ph{
    #border: 1px solid lime;
    width:20em;
    height:53.3em;
    position:absolute;
    right:0em;
}
#middle-ph{
    text-align:center;
    #border:1px solid red;
    margin:0 20em;
}
#middle{
    #border: 1px solid lime;
    position:relative;
    display:inline-block;
    margin:0.5em;
}
#image{
    #margin:0.5em;
    max-width:75.5em;
    max-height:52.5em;
    position:relative;
    width:100%;
    height:auto;
}
.tools{
    width:19em;
    height:10em;
    background-color:lime;
    border: 1px solid black;
    margin:0.5em;
}
#txt{
    position:relative;
    top:-1px;
    width:98%;
    height:96%;
}
.btn{
    background:none;
    border: 1px solid #999;
    width:100%;
    height:49%;
    text-align:center;
    color:white;
    margin-bottom:0.1em;
}
.btn:first-child{
    margin-top:0.1em;    
}
#tool-07,
#tool-10,
#tool-11{
    text-align:center;
}
#tool-04,
#tool-07,
#tool-08,
#tool-09,
#tool-10,
#tool-11{
    background-color:black;
}
.tool-sub-ph-v{
    display:inline-block;
    #border:1px solid purple;
    height:93%;
    text-align:center;
    margin:0em 0.7em;
}
.tool-sub-label-v{
    height:10%;
}
.tool-sub-slider-v{
    height:80%;
}
.tool-sub-text-v{
    height:10%;
    
}
.text-slider-v{
    background:none;
    border: 1px solid #999;
    width:3em;
    text-align:center;
    color:white;
}
.all{
    #display:inline-block;
    #border:1px solid purple;
    min-width:2em;
    min-height:2em;
    text-align: center;
}
.slider-float{
    display:inline-block;
    height:100%;
    float:left;
    #position:relative;
}
.text-top{
    height:3.9em;
}
.text-bottom{
    height:3.9em;
}
.slider-bottom{
    width:100%;
    height:2.2em;
}
.text-position{
    background:none;
    border: 1px solid #999;
    width:4em;
    text-align:center;
    color:white;
}
select{
    background:none;
    border: 1px solid #999;
    text-align:center;
    color:white;
}
select option{
    height:2em;
    padding-top:0.5em;
}
#fontDropZone{
    #width:100%;
    #height:2em;
    #border: 1px solid #999;
}
#form-fonts{
    display:none;
}
#form-pictures{
    display:none;
}
#preview{
    text-align:center;
}
#preview-div{
    text-align:center;
}
/* #font-size-procent{
    visibility:visible;
} */
#dimming{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    z-index:200;
}
#create-form-ph{
    width:20em;
    height:20em;
    background-color: rgba(0,0,0,1.0);
    border: 1px solid #999;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
#create-form-colpick{
    margin:0.5em 0.5em;
}
#create-form-rgb{
    position:absolute;
    visibility:hidden;
}
#create-form-size{
    width:16em;
    margin:0.5em auto;
}
fieldset{
    display:inline-block;
}
.create-btn{
    background:none;
    border: 1px solid #999;
    width:100%;
    height:2.9em;
    text-align:center;
    color:white;
    margin-bottom:0.1em;
}
.create-btn:first-child{
    margin-top:0.1em;    
}
#dimming-about{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    z-index:200;
}
#create-form-ph-about{
    width:20em;
    height:5em;
    background-color: rgba(0,0,0,1.0);
    border: 1px solid #999;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align:center;
    padding:1em;
}
#close-about{
    position:absolute;
    top: 0px;
    right: 0px;
    background-color:rgb(190,37,10);
    border:1px solid rgb(145,28,7);
}