#left-option-ph{
    #border: 1px solid lime;
    width:20em;
    height:53.3em;
    position:absolute;
    left:0em;
}
#right-option-ph{
    #border: 1px solid lime;
    width:20em;
    height:53.3em;
    position:absolute;
    right:0em;
}
#middle-ph{
    text-align:center;
    #border:1px solid red;
    margin:0 20em;
}
#middle{
    #border: 1px solid lime;
    position:relative;
    display:inline-block;
    margin:0.5em;
}
#image{
    #margin:0.5em;
    max-width:75.5em;
    max-height:52.5em;
    position:relative;
    width:100%;
    height:auto;
}
.tools{
    width:19em;
    height:10em;
    background-color:lime;
    border: 1px solid black;
    margin:0.5em;
}
#txt{
    position:relative;
    top:-1px;
    width:98%;
    height:96%;
}
.btn{
    background:none;
    border: 1px solid #999;
    width:100%;
    height:5.8em;
    text-align:center;
    color:white;
    margin-bottom:0.1em;
}
.btn:first-child{
    margin-top:0.1em;    
}
#tool-07,
#tool-10{
    text-align:center;
}
#tool-04,
#tool-07,
#tool-08,
#tool-09,
#tool-10{
    background-color:black;
}
.tool-sub-ph-v{
    display:inline-block;
    #border:1px solid purple;
    height:93%;
    text-align:center;
    margin:0em 0.7em;
}
.tool-sub-label-v{
    height:10%;
}
.tool-sub-slider-v{
    height:80%;
}
.tool-sub-text-v{
    height:10%;
    
}
.text-slider-v{
    background:none;
    border: 1px solid #999;
    width:4em;
    text-align:center;
    color:white;
}
.all{
    #display:inline-block;
    #border:1px solid purple;
    min-width:2em;
    min-height:2em;
    text-align: center;
}
.slider-float{
    display:inline-block;
    height:100%;
    float:left;
    #position:relative;
}
.text-top{
    height:3.9em;
}
.text-bottom{
    height:3.9em;
}
.slider-bottom{
    width:100%;
    height:2.2em;
}
.text-position{
    background:none;
    border: 1px solid #999;
    width:4em;
    text-align:center;
    color:white;
}
select{
    background:none;
    border: 1px solid #999;
    text-align:center;
    color:white;
}
select option{
    height:2em;
    padding-top:0.5em;
}
#fontDropZone{
    #width:100%;
    #height:2em;
    #border: 1px solid #999;
}
#show{
    border: 1px solid #999;
    #margin:0 0.5em;
    #display:inline-block;
}
#form-fonts{
    display:none;
}
#form-pictures{
    display:none;
}
#preview{
    text-align:center;
}
#preview-div{
    text-align:center;
}