#left-option-ph{
    #border: 1px solid lime;
    width:20em;
    height:53.3em;
    position:absolute;
    left:0em;
}
#right-option-ph{
    #border: 1px solid lime;
    width:20em;
    height:53.3em;
    position:absolute;
    right:0em;
}
#middle-ph{
    text-align:center;
    #border:1px solid red;
    margin:0 20em;
}
#middle{
    #border: 1px solid lime;
    position:relative;
    display:inline-block;
    margin:0.5em;
}
#picture{
    #margin:0.5em;
    max-width:75.5em;
    max-height:52.5em;
    position:relative;
    width:100%;
    height:auto;
}
.tools{
    width:19em;
    height:10em;
    background-color:lime;
    border: 1px solid black;
    margin:0.5em;
}
#txt{
    position:relative;
    top:-1px;
    width:98%;
    height:96%;
}
#tool-07{
    text-align:center;
    background-color:black;
}
.tool-sub-ph-v{
    display:inline-block;
    #border:1px solid purple;
    height:93%;
    text-align:center;
    margin:0em 0.7em;
}
.tool-sub-label-v{
    height:10%;
}
.tool-sub-slider-v{
    height:80%;
}
.tool-sub-text-v{
    height:10%;
    
}